@{
    ViewData["Title"] = "Guessing game";
}


<h1>Guessing a number.</h1>
<form method="post" asp-controller="GuessingGame" asp-action="guessingGameView">
    <label>Guess a number between 1 and 100:</label><br>
    <input type="text" name="guessedNumber"><br>
</form>
<h1>@ViewBag.LinkableId</h1>
