@{
    ViewData["Title"] = "GITHUB PROJECTS";
}

<h1>Here are some github projects</h1>
<ul>
    <li><a href="https://github.com/Innervisual/hangmanlast">Hangman</a></li>
    <li><a href="https://github.com/Innervisual/VendingMachine">VendingMachine</a></li>
</ul>
